<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IKanbanSystemService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfServiceInteraction/KanbanSystemService/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IKanbanSystemService"
                contract="KrabServices.IKanbanSystemService" name="WSDualHttpBinding_IKanbanSystemService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>